In [2]:
print("hola")

hola

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('videogames.csv', index_col=0)
df

,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
app_id,,,,,,,,,,,,
13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True
22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True
113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,14.99,0.0,True
226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,14.99,0.0,True
249050,Dungeon of the ENDLESS™,2014-10-27,True,True,False,Very Positive,88,8784,11.99,11.99,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2296380,I Expect You To Die 3: Cog in the Machine,2023-09-28,True,False,False,Very Positive,96,101,22.00,0.00,0.0,True
1272080,PAYDAY 3,2023-09-21,True,False,False,Mostly Negative,38,29458,40.00,0.00,0.0,True
1402110,Eternights,2023-09-11,True,False,False,Very Positive,89,1128,30.00,0.00,0.0,True
2272250,Forgive Me Father 2,2023-10-19,True,False,False,Very Positive,95,82,17.00,0.00,0.0,True
2488510,FatalZone,2023-10-23,True,False,False,Very Positive,88,144,4.00,0.00,0.0,True

In [5]:
df.head()

,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
app_id,,,,,,,,,,,,
13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True
22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True
113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,14.99,0.0,True
226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,14.99,0.0,True
249050,Dungeon of the ENDLESS™,2014-10-27,True,True,False,Very Positive,88,8784,11.99,11.99,0.0,True

In [6]:
df.tail(2)

,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
app_id,,,,,,,,,,,,
2272250,Forgive Me Father 2,2023-10-19,True,False,False,Very Positive,95,82,17.0,0.0,0.0,True
2488510,FatalZone,2023-10-23,True,False,False,Very Positive,88,144,4.0,0.0,0.0,True

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50872 entries, 13500 to 2488510
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           50872 non-null  object
 1   date_release    50872 non-null  object
 2   win             50872 non-null  bool
 3   mac             50872 non-null  bool
 4   linux           50872 non-null  bool
 5   rating          50872 non-null  object
 6   positive_ratio  50872 non-null  int64
 7   user_reviews    50872 non-null  int64
 8   price_final     50872 non-null  float64
 9   price_original  50872 non-null  float64
 10  discount        50872 non-null  float64
 11  steam_deck      50872 non-null  bool
dtypes: bool(4), float64(3), int64(2), object(3)
memory usage: 3.7+ MB

In [8]:
df.shape

(50872, 12)

In [9]:
#Manejo de duplicados
df = df.drop_duplicates()

In [10]:
df.shape

(50872, 12)

In [11]:
#Manejo de valores vacios
df.isnull()

,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
app_id,,,,,,,,,,,,
13500,False,False,False,False,False,False,False,False,False,False,False,False
22364,False,False,False,False,False,False,False,False,False,False,False,False
113020,False,False,False,False,False,False,False,False,False,False,False,False
226560,False,False,False,False,False,False,False,False,False,False,False,False
249050,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2296380,False,False,False,False,False,False,False,False,False,False,False,False
1272080,False,False,False,False,False,False,False,False,False,False,False,False
1402110,False,False,False,False,False,False,False,False,False,False,False,False
2272250,False,False,False,False,False,False,False,False,False,False,False,False
2488510,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
#Smar los valores vacios en cada registro
df.isnull().sum()

title             0
date_release      0
win               0
mac               0
linux             0
rating            0
positive_ratio    0
user_reviews      0
price_final       0
price_original    0
discount          0
steam_deck        0
dtype: int64

In [13]:
df2 = df.dropna()

In [14]:
df2.isnull().sum()

title             0
date_release      0
win               0
mac               0
linux             0
rating            0
positive_ratio    0
user_reviews      0
price_final       0
price_original    0
discount          0
steam_deck        0
dtype: int64

In [15]:
df2.shape

(50872, 12)

In [16]:
# Guardar el dataframe depurado
df2.to_csv('videogames_clean.csv', index=False)