In [1]:
print("hola")

hola

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('taylor.csv', index_col=0)
df

,Country,Venue,Opening act(s),Revenue,Tour,Attendance (tickets sold),Attendance (available)
City,,,,,,,
Evansville,United States,Roberts Municipal Stadium,Gloriana\nKellie Pickler,360617,Fearless_Tour,7463,7463
Jonesboro,United States,Convocation Center,Gloriana\nKellie Pickler,340328,Fearless_Tour,7822,7822
St. Louis,United States,Scottrade Center,Gloriana\nKellie Pickler,650420,Fearless_Tour,13764,13764
Alexandria,United States,Bishop Ireton High School,Gloriana\nKellie Pickler,153303,Fearless_Tour,11208,11208
North Charleston,United States,North Charleston Coliseum,Gloriana\nKellie Pickler,398154,Fearless_Tour,8751,8751
...,...,...,...,...,...,...,...
Melbourne,Australia,Marvel Stadium,Charli XCX\nBroods,6755570,Reputation_Stadium_Tour,63027,63027
Sydney,Australia,ANZ Stadium,Charli XCX\nBroods,7686564,Reputation_Stadium_Tour,72805,72805
Brisbane,Australia,The Gabba,Charli XCX\nBroods,4338127,Reputation_Stadium_Tour,43907,43907
Auckland,New Zealand,Mount Smart Stadium,Charli XCX\nBroods,3617593,Reputation_Stadium_Tour,35749,35749
Tokyo,Japan,Tokyo Dome,Charli XCX,14859847,Reputation_Stadium_Tour,100109,100109

In [4]:
df.head()

,Country,Venue,Opening act(s),Revenue,Tour,Attendance (tickets sold),Attendance (available)
City,,,,,,,
Evansville,United States,Roberts Municipal Stadium,Gloriana\nKellie Pickler,360617,Fearless_Tour,7463,7463
Jonesboro,United States,Convocation Center,Gloriana\nKellie Pickler,340328,Fearless_Tour,7822,7822
St. Louis,United States,Scottrade Center,Gloriana\nKellie Pickler,650420,Fearless_Tour,13764,13764
Alexandria,United States,Bishop Ireton High School,Gloriana\nKellie Pickler,153303,Fearless_Tour,11208,11208
North Charleston,United States,North Charleston Coliseum,Gloriana\nKellie Pickler,398154,Fearless_Tour,8751,8751

In [5]:
df.tail(2)

,Country,Venue,Opening act(s),Revenue,Tour,Attendance (tickets sold),Attendance (available)
City,,,,,,,
Auckland,New Zealand,Mount Smart Stadium,Charli XCX\nBroods,3617593,Reputation_Stadium_Tour,35749,35749
Tokyo,Japan,Tokyo Dome,Charli XCX,14859847,Reputation_Stadium_Tour,100109,100109

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 330 entries, Evansville to Tokyo
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    330 non-null    object
 1   Venue                      330 non-null    object
 2   Opening act(s)             330 non-null    object
 3   Revenue                    330 non-null    int64
 4   Tour                       330 non-null    object
 5   Attendance (tickets sold)  330 non-null    int64
 6   Attendance (available)     330 non-null    int64
dtypes: int64(3), object(4)
memory usage: 20.6+ KB

In [7]:
df.shape

(330, 7)

In [9]:
#Manejo de duplicados
df = df.drop_duplicates()

In [10]:
df.shape

(330, 7)

In [11]:
#Manejo de valores vacios
df.isnull()

,Country,Venue,Opening act(s),Revenue,Tour,Attendance (tickets sold),Attendance (available)
City,,,,,,,
Evansville,False,False,False,False,False,False,False
Jonesboro,False,False,False,False,False,False,False
St. Louis,False,False,False,False,False,False,False
Alexandria,False,False,False,False,False,False,False
North Charleston,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
Melbourne,False,False,False,False,False,False,False
Sydney,False,False,False,False,False,False,False
Brisbane,False,False,False,False,False,False,False
Auckland,False,False,False,False,False,False,False
Tokyo,False,False,False,False,False,False,False

In [12]:
#Smar los valores vacios en cada registro
df.isnull().sum()

Country                      0
Venue                        0
Opening act(s)               0
Revenue                      0
Tour                         0
Attendance (tickets sold)    0
Attendance (available)       0
dtype: int64

In [13]:
df2 = df.dropna()

In [14]:
df2.isnull().sum()

Country                      0
Venue                        0
Opening act(s)               0
Revenue                      0
Tour                         0
Attendance (tickets sold)    0
Attendance (available)       0
dtype: int64

In [15]:
df2.shape

(330, 7)

In [16]:
# Guardar el dataframe depurado
df2.to_csv('taylor_clean.csv', index=False)